.article {
	margin: 1em;
	border-radius: 1em;
	background-color: #514663;
	color: white;
	padding: 2em !important;
	position: relative;

	> .header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;

		> .title {
			font-size: 1.5em;
			font-weight: bold;
		}

		> .date {
			font-size: 0.8em;
		}
	}

	textarea {
		resize: none;
		margin-bottom: 0;
		width: 100%;
	}

	.editable {
		outline: 1px solid white !important;
		border-radius: 0.25em;
	}

	> .svg-button {
		color: white;
		font-size: x-large;
		margin: 0.5em;
		cursor: pointer;
		position: absolute;
		aspect-ratio: 1/1;
	}

	> .delete {
		top: 0;
		right: 0;
	}

	> .acceptEdit {
		bottom: 0;
		right: 0;
	}

	> .cancelEdit {
		bottom: 0;
		left: 0;
	}

	> .edit {
		top: 0;
		left: 0;
	}
}
